.dockerignore
.DS_Store

node_modules

.git
.github
.gitignore
.gitlab-ci.yml
.gitmodules
.vscode
.idea
.data
README.md

Dockerfile
Dockerfile.archive
docker-compose.yml
docker

*.zip
*.sql
*.log
*.tar.gz

*/*/*/node_modules
